*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    display: inline;
}

button{
    width: 12rem;
}

.contenedor{
    width: 90%;
    margin: 0 auto;
}

details{
    font-size: 0.85rem;
    color: #6d2c7d;
    font-style: oblique;
}