body{
    background-image: url(../IMG/Momentos-de-amor.jpg);
    padding: 20px;
}

.contenido{
    background-color: rgba(173, 216, 230, .8) !important;
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
    padding: 20px !important;
}

h1{
    background-color: darkblue !important;
    color: #fff !important;
    text-align: center;
    padding: 10px !important;
}

ul{
    list-style: none !important;
}

h2{
    color: darkblue !important;
    border-top: 2px solid darkblue !important;
    border-bottom: 2px solid darkblue !important;
    text-align: center;
}

.pCaracteristicas{
    padding-left: 3em !important;
}